@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

#reference a {
    width: fit-content;
    color: #59c3c3;
    font-size: 0.6rem;
}

.web-name {
    margin: 0px;
    font-size: 60px;
    font-family: Amatic SC, sans-serif;
    font-weight: 100;
    align-self: flex-end;
}

#logo img {
    width: 100px;
}

#logo {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
}

input {
    width: 300px;
}

.recipe {
    margin: 50px;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.food-img {
    margin: 15px;
    width: 300px;
}

.category {
    margin: 15px;
    padding: 3px;
    width: fit-content;
    border-style: solid;
    font-size: 15px;
}

.dessert-name {
    color: #59c3c3;
    margin: 15px;
    margin-bottom: 0px;
    font-size: 35px;
    font-family: Amatic SC, sans-serif;
    font-weight: 100;
}

.rating {
    margin: 15px;
    width: 3px;
}

p {
    margin: 15px;
    font-size:15px;
}

a img {
    margin: 5px;
    width: 50px;
}

#footer div {
    width: fit-content;
    margin-left: 50px;
}

#social {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    width: fit-content;
}

@media screen and (max-width: 600px) {
    p {
        display: none;
    }

    #social {
        display: flex;
        justify-content: center;
    }

    #footer div {
        width: fit-content;
        margin: auto auto;
    }
}

@media screen and (min-width: 600px) {
    .recipe {
        flex-direction: row;
    }

    #footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
    }

    #reference {
        align-self: center;
    }
}